* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-header {
  background-color: #fefffe;
}
.first-navbar-content{
   display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.page-container{
  
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

.main-section {
  background: linear-gradient(to right, #f6fefa, #feffff);
}
.naira {
  background-color: #009666;
  border-radius: 12px;
}

.form-section {
  background-color: #f5fdf9;
  width: 100%;

 
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #83e9c9;
  border-radius: 15px;
  color: #83e9c9;
}
.form-section:focus-within {
  border: 4px solid #ceebe2;
}
.form-section button {
  background: none;
  border: none;
  color: #9ad6b9;
  margin: 0;
}
.form-section button:hover {
  color: #9ad6b9;
}
.form-section ::placeholder {
  color: #9ad6b9;
}
.form-section input {
  background: none;
  border: none;
}
.form-section input:focus {
  outline: none;
  box-shadow: none;
  background: none;
}
.wifi {
  background-color: #83e9c9;
  border-radius: 10px;
  color: green;
}
.letter {
  background-color: #009666;
  border-radius: 12px;
}
.moon {
  color: #bae4d0;
  transform: rotate(-35deg);
}
.moon:hover {
  background-color: #e1eae6;
  border-radius: 12px;
  padding: 8px 12px;
}
.icon-bar {
  margin-left: 30px;
}

.navlinks .nav-link {
  color: #8becce !important;
  gap: 0px;
  margin: 0 10px;
  font-size: 12px;

  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.second-navbar {
  border-bottom: 1px solid rgb(220, 212, 212);
  width: 100%;
  max-width: 100%;
}
.navlinks i{
  margin-right: 6px !important;
}
.navlinks .nav-link:hover {
  color: green !important;
}
.navlinks .nav-link:active {
  color: green !important;
}
.city-comparison{
    color: #4a4f3b;
}
.city-item h6{
    color: #009966;
    font-size: 15px;
}
.item-section {
  flex: 1;
}

.second-city {
  flex: 1;
}
.item-section select,
.first-city select,
.second-city select {
  width: 100%;
  background: #ffffff;
  padding: 7px;
  border-color: aquamarine;
  border-radius: 15px;
  color: #4a4f3b;
  font-size: 15px;

}
.item-section select:focus-within,
.first-city select:focus-within,
.second-city select:focus-within {
  border: 2px solid rgb(133, 228, 197);
}
.first-city {
  flex: 1;
}
.item-section select:active,
.first-city select:active,
.second-city select:active {
  border: 2px solid rgb(223, 26, 26);
}

.second-city {
  flex: 1;
}
/* second section  */
.first-location{
    flex: 1;
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid rgb(195, 232, 195);
}
.second-location{
  flex: 1;
  background-color: #ffff;
  background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid rgb(195, 232, 195);

}
.first-location h5,.second-location h5{
  font-size: 15px;
  color: #4a4f3b;
}
.first-location span, .second-location span{
  color: green;
  padding-right: 10px;
}
.naira-sign{
  font-size: 20px;
  padding-right: 0;
   color: #00bc7d;
}
.first-location h3,.second-location h3{
  font-weight: bold;
  font-size: 35px;
}
.first-location span,.second-location span{
  font-size: 13px;
  font-weight: lighter;
  color: #00bca3;
 
}
.first-location p,.second-location p{
  color: #00bca3;
  font-size: 12px;
 
}

.progress-section{
  background-color: #f2fdf8;
  border-radius: 15px;
  

  
}
.progress-live{
  background-color:#d0fae5 ;
  border-radius: 10px;

}
.difference{
  font-size: 13px;
}
.difference h6{
  font-size: 13px;
}
.range{
  font-size: 12px;
  color: #6fe7c1;
}
@media (max-width: 767.98px) {
.overall-container{
  width: 100% !important;
  max-width: 100% !important;
}

    .page-container {
        width: 100%;
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

  .first-navbar {
    display: flex;
    flex-direction: row; 
      align-items: center;
    width: 100% !important;
    max-width: 100% !important;
    
    margin: 5px 0 20px 0 !important;
    padding: 0!important;
     margin-left: 0 !important;
    width: auto !important;
    flex-grow: 1;
    height: 34px;
  }

  
  .navbar-brand .brand-text {
    display: none;
  }

  .form-section {
 
    flex: 1;
    width: 100%;
    margin: 0 !important;
    max-width: 300px;
  
  }

  .form-section input{
    padding-left: 0px !important;
    
  } 


  .icon-bar {
    margin:0 !important;
  }

  /* second navbar  */
  .navlinks {
    display: flex;
    flex-direction: row;
    justify-content: left !important;

  margin: 0;
    padding: 0 !important;
  }
  .navlinks .nav-link {
   padding: 0 !important; 
  }
 
  .navlinks .nav-link .link-text {
    display: none;
  }
  .navlinks .nav-link i {
    margin-right: 0;
    font-size: 16px;
  }
  .city-item{
    flex-direction: column;
  }
  .location-container{
    flex-direction: column;
  }
}